@import '../global.scss';

.footer{
    background-color: $dark-color;
    color: white;

    >div{
        @media (min-width: $mobile-screen) {
            margin-left: auto;
            margin-right: auto;
            max-width: $footer-w;
        }

        padding: 2rem;
        padding-bottom: 2.5rem;
    }
    
    .footerTop{
        display: none;
        @media (min-width: $mobile-screen) {
            display: flex;
            flex-direction: row;
            > *{
                flex: 1 1 0%;
            }

            >div{
                color: #a5a5a5;
            }

            .footerLinks{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                font-weight: bold;
                text-transform: uppercase;
                >div>a{
                    text-decoration: none;
                    color: white;
                }
                >div>a{
                    padding-right: 0.4rem;
                }
                >div>a:last-child{
                    padding-right: 0;
                }
            }
        }
    }

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (min-width: $mobile-screen) {
            justify-content: flex-end;
        }

        >*{
            padding-right: 0.4rem;
        }

        >*:last-child{
            padding-right: 0;
        }

        img{
            height: 0.75rem;
        }
    }
}