@import '../global.scss';

.card{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    >img{
        width: 100%;
    }
    >div > h2{
        text-transform: uppercase;
    }
    >div{
        background-color: $light-color;
        padding: 0 2rem;
    }
}