@import-normalize;
@import './global.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
  color: $dark-color;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  @media (min-width: $mobile-screen) {
    max-width: $max-screen-w;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-1-5{
  margin: 1.5rem;
  @media (min-width: $mobile-screen) {
    max-width: $max-screen-w;
    margin-left: auto;
    margin-right: auto;
  }
}

.md-flex{
  @media (min-width: $mobile-screen) {
    display: flex;
  }
}

.flex{
  display: flex !important;
}

.flex-col{
  flex-direction: column !important;
}

.justify-between{
  justify-content: space-between !important;
}

.flex-row{
  flex-direction: row !important;
}

.flex-1{
  flex: 1 1 0% !important;
}

.md-w-33{
  @media (min-width: $mobile-screen) {
    width: 33.333333%;
  }
}

.md-w-25{
  @media (min-width: $mobile-screen) {
    width: 25%;
  }
}

.md-w-66{
  @media (min-width: $mobile-screen) {
    width: 66.666666%;
  }
}

.bg-primary{
  background-color: $primary-color;
}

.p-y-1{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.space-2{
  > *{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  > *:first-child{
    margin-top: 0 !important;
  }
  > *:last-child{
    margin-bottom: 0 !important;
  }

  @media (min-width: $mobile-screen) {
    > *{
      margin: 0 1rem !important;
    }
    > *:first-child{
      margin-left: 0 !important;
    }
    > *:last-child{
      margin-right: 0 !important;
    }
  }
}

.md-space-x-1{
  @media (min-width: $mobile-screen) {
    > *{
      margin-right: 1rem !important;
    }
    > *:last-child{
      margin-right: 0 !important;
    }
  }
}

.space-y-1{
  > *{
    margin-bottom: 1rem !important;
  }
  > *:last-child{
    margin-bottom: 0 !important;
  }
}

.p-b-1{
  padding-bottom: 1rem;
}

.p-t-1{
  padding-top: 1rem;
}

.m-x-1-5{
  margin: 0 1.5rem;
}

.p-t-1-5{
  padding-top: 1.5rem;
}

.md-p-t-1{
  @media (min-width: $mobile-screen) {
    padding-top: 1rem;
  }
}


.p-b-0{
  padding-bottom: 0 !important;
}

.md-p-b-0{
  @media (min-width: $mobile-screen) {
    padding-bottom: 0 !important;
  }
}

.md-space-y-1{
  @media (min-width: $mobile-screen) {
    > *{
      margin-bottom: 1rem !important;
    }
    > *:last-child{
      margin-bottom: 0 !important;
    }
  }
}

.primary{
  background-color: $primary-color;
  color: white;

  span, button{
    border-color: white !important;
    color: white;
  }
}

.items-center{
  align-items: center;
}

.items-right{
  justify-content: flex-end;
}

.hidden{
  display: none !important;
}